export HOSTNAME="$(hostname -I | sed 's/ .*//')" # Can be IP or hostname
export ENCRYPTION_PASSWORD=changeme
export CONCOURSE_ADMIN_PASSWORD=changeme
export CREDHUB_CLIENT_SECRET=changeme
export POSTGRES_PASSWORD=changeme
export TRUST_STORE_PASSWORD=changeit # Cannot be changed currently